<p style="color: green"><%= notice %></p>

<h1><%= @user.name %></h1>

TODO: ownerが権限を変更するフォーム<br/>
権限: <%= @user.role %> <br/><br/>
TODO: ユーザー削除ボタン

<h3>作成したスレッド一覧</h3>
<%= render "boards/index", boards: @boards %>

<h3>投稿したコメント一覧</h3>
<%= render "comments/index", boards: @boards %>
