<%= form_with(model: board) do |form| %>
  <% if board.errors.any? %>
    <div style="color: red">
      <h4><%= pluralize(board.errors.count, "error") %> prohibited this board from being saved:</h4>

      <ul>
        <% board.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, "タイトル:" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :category_id, "カテゴリ:" %>
    <%= form.collection_select :category_id, categories, :id, :name, prompt: "選択" %>
  </div>

  <div>
    <%= form.label :tag_text, "タグ:" %>
    <%= form.text_field :tag_text, placeholder: "空白区切りで複数指定" %>
  </div>

  <div>
    <%= form.submit "作成" %>
  </div>
<% end %>
