<p style="color: green"><%= notice %></p>

<h1><%= @board.title %></h1>
<h5>作成ユーザー: <%= link_to @board.user.name, user_path(@board.user) %></h5>
<h5>作成日時: <%= @board.created_at %></h5>
<h5>カテゴリ: <%= @board.category.name %></h5>

<% @board.comments.each_with_index do |comment, i| %>
<h4><%= i+1 %>: <%= comment.user.name %> [ <%= comment.created_at %> ]</h4>
<%= comment.content %>
<% end %>

<h3>コメントを投稿</h3>
<%= render "comments/form", comment: @comment %>
